{% extends 'base.html' %} {% block content %}

<div class="container">
    <div
  class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom"
>
        <h1 class="h2">Data Hasil "{{laporanD.nama}}"</h1>
        <a class="btn btn-outline-primary" href="{% url 'unduh_laporan' laporanD.id%}"><i class="fa-sharp fa-solid fa-file-arrow-down"></i> Unduh Semua</a>
    </div>
    <form class="d-flex" action="/laporan/{{laporanD.id}}" method="GET">
      <div class="row w-100 text-center">
        <div class="col-md-2">
          <label class="form-label" for="">Batas Siswa</label>
        </div>
        <div class="col-md-8">
          <input class="form-control" name = "q" type="text" placeholder="Batas Siswa" aria-label="Search">
        </div>
        <div class="col-md-2">
          <button class="btn btn-outline-success" type="submit">Filter</button>
          <a class="btn btn-outline-primary {% if q %} {%else%}disabled{%endif%}" href="{% url 'unduh_laporan' laporanD.id%}{% if q %}?q={{q}}{%endif%}"><i class="fa-sharp fa-solid fa-file-arrow-down"></i> Unduh</a>
        </div>
        
      </div>      
    </form>
    <table class="table table-responsive table-striped">
        <thead>
            <tr>
                <th class="text-center align-middle" rowspan="2">NISN</th>
                <th class="text-center align-middle" rowspan="2">Nama</th>
                {% for i in kriteriaD %}
                <th colspan="3" class="text-center">
                    {{i.nama_kriteria}}
                </th>
                {% endfor %}
                <th class="text-center align-middle" rowspan="2">
                    Hasil
                </th>
            </tr>
            <tr>
                {% for i in kriteriaD %}
                <th class="text-center">
                    Huruf
                </th>
                <th class="text-center">
                    Bobot
                </th>
                <th class="text-center">
                    x{{i.bobot_kriteria|floatformat:5}}
                </th>
                {% endfor %}
            </tr>
        </thead>
        <tbody>
            {% for data in page_obj %}
            <tr>
                <td>{{data.siswa_id}}</td>
                <td>{{data.siswa.nama_siswa}}</td>
                <td class="text-center">{{data.siswa.iq_siswa_h}}</td>
                <td>{{data.nilai_sub1|floatformat:5}}</td>
                <td>{{data.nilai_kriteria1|floatformat:5}}</td>
                <td class="text-center">{{data.siswa.tpa_ipa_siswa_h}}</td>
                <td>{{data.nilai_sub2|floatformat:5}}</td>
                <td>{{data.nilai_kriteria2|floatformat:5}}</td>
                <td class="text-center">{{data.siswa.rapor_ipa_siswa_h}}</td>
                <td>{{data.nilai_sub3|floatformat:5}}</td>
                <td>{{data.nilai_kriteria3|floatformat:5}}</td>
                <td>{{data.nilai_sum|floatformat:5}}</td>
            </tr>
            {% endfor %}
                
            
        </tbody>
    </table>

    {% if page_obj.has_other_pages %}
      <nav aria-label="Page navigation example">
        <ul class="pagination justify-content-center">
          {% if page_obj.has_previous %}
            <li class="page-item"><a class="page-link" href="?page=1 {% if q %}&q={{q}}{%endif%}">first</a></li>
            <li class="page-item"><a class="page-link" href="?page={{ page_obj.previous_page_number }} {% if q %}&q={{q}}{%endif%}">&laquo;</a></li>
          {% else %}
            <li class="page-item disabled"><span class="page-link">first</span></li>
            <li class="page-item disabled"><span class="page-link">&laquo;</span></li>
          {% endif %}
          {% for i in page_obj.paginator.page_range %}
            {% if page_obj.number == i %}
              <li class="page-item active"><span class="page-link">{{ i }} <span class="sr-only">(current)</span></span></li>
            {% elif i > page_obj.number|add:'-5' and i < page_obj.number|add:'5' %}
              <li class="page-item"><a class="page-link" href="?page={{ i }} {% if q %}&q={{q}}{%endif%}">{{ i }}</a></li>
            {% endif %}
          {% endfor %}
          {% if page_obj.has_next %}
            <li class="page-item"><a class="page-link" href="?page={{ page_obj.next_page_number }} {% if q %}&q={{q}}{%endif%}">&raquo;</a></li>
            <li class="page-item"><a class="page-link" href="?page={{ page_obj.paginator.num_pages }} {% if q %}&q={{q}}{%endif%}">last</a></li>
          {% else %}
            <li class="page-item disabled"><span class="page-link">&raquo;</span></li>
            <li class="page-item disabled"><span class="page-link">last</span></li>
          {% endif %}
        </ul>
      </nav>
    {% endif %}
</div>

{% endblock content %}